In [14]:
import pandas as pd

In [43]:
Subagan=pd.read_csv('C://Users//Personal//Documents//Subagan20xx-2023.csv')
Subagan.drop('Hora Entrada', axis=1, inplace=True)
Subagan['Precio Final']=Subagan['Precio Final'].astype(str)
Subagan=Subagan.loc[Subagan['Precio Final'].str.isnumeric()]

Suganar=pd.read_csv('C://Users//Personal//Documents//Suganar202x.csv')
Suganar.drop('Hora Entrada', axis=1, inplace=True)
Subagan

C:\Users\Personal\AppData\Local\Temp\ipykernel_10536\2677570106.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  Subagan=pd.read_csv('C://Users//Personal//Documents//Subagan20xx-2023.csv')

,Unnamed: 0,Lote,Sexo,Cantidad,Peso Total,Peso Promedio,Procedencia,Observaciones,Precio Base,Precio Final,Fecha,Ciudad,Tipo,Martillo,N°Feria,Hora entrada
0,22618,1,ML,2,216.000,108,LAS PULGAS,NaN,2350,2560,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:09 am
1,22619,2,VE,1,362.000,362,LAS PULGAS,SACRIFICIO,2250,2250,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:30 am
2,22620,3,VE,2,732.000,366,LAS PULGAS,SACRIFICIO,2300,2300,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:31 am
3,22621,4,VE,2,762.000,381,LAS PULGAS,SACRIFICIO,2100,2160,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:32 am
4,22622,5,HV,1,468.000,468,LAS PULGAS,SACRIFICIO VACIA,2500,2530,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:33 am
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203216,244025,17,HL,1,232.000,232,PRIMAVERA,NaN,5800,5800,2023-10-06,PLANETA RICA,GENERAL,NaN,No. 00082,11:28 am
203217,244026,18,HL,1,158.000,158,PRIMAVERA,ÑATA,2000,3600,2023-10-06,PLANETA RICA,GENERAL,NaN,No. 00082,11:29 am
203218,244027,19,HL,9,1.182,131,PRIMAVERA,1 SOLO HIERRO -,5000,5300,2023-10-06,PLANETA RICA,GENERAL,NaN,No. 00082,11:31 am
203219,244028,20,HL,9,1.224,136,PRIMAVERA,1 SOLO HIERRO -1PLATANILLO,5800,6400,2023-10-06,PLANETA RICA,GENERAL,NaN,No. 00082,11:32 am
203220,244029,21,HL,7,1.220,174,PRIMAVERA,1 SOLO HIERRO,6200,6200,2023-10-06,PLANETA RICA,GENERAL,NaN,No. 00082,11:32 am

In [48]:
Subaganar=pd.concat([Subagan, Suganar], ignore_index=True)
Subaganar



Subaganar.dropna(inplace=True, subset=['Precio Final', 'Precio Base'])
Subaganar['Precio Final']=Subaganar['Precio Final'].astype(str)
Subaganar=Subaganar.loc[Subaganar['Precio Final'].str.isnumeric()]
Subaganar['Precio Final']=Subaganar['Precio Final'].astype(int)
miss= ((Subaganar['Precio Final']>0)&(Subaganar['Precio Final']<20000))
Subaganar=Subaganar.loc[miss]





Subaganar.Sexo.replace('VH','HV', inplace=True)

Subaganar.to_csv('C://Users//Personal//Documents//Subaganar202x.csv')
Subaganar

,Unnamed: 0,Lote,Sexo,Cantidad,Peso Total,Peso Promedio,Procedencia,Observaciones,Precio Base,Precio Final,Fecha,Ciudad,Tipo,Martillo,N°Feria,Hora entrada
0,22618,1,ML,2,216.0,108,LAS PULGAS,NaN,2350,2560,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:09 am
1,22619,2,VE,1,362.0,362,LAS PULGAS,SACRIFICIO,2250,2250,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:30 am
2,22620,3,VE,2,732.0,366,LAS PULGAS,SACRIFICIO,2300,2300,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:31 am
3,22621,4,VE,2,762.0,381,LAS PULGAS,SACRIFICIO,2100,2160,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:32 am
4,22622,5,HV,1,468.0,468,LAS PULGAS,SACRIFICIO VACIA,2500,2530,2012-10-03,PLANETA RICA,GENERAL,NaN,No. 00078,6:33 am
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269714,68223,041,HV,1,280,280,AGUAS CLARAS,CAMINADA,1000,2800,2018-01-17,NECOCLÍ,GENERAL,RODRIGO MEJÍA-ELISA VELASQUEZ,NaN,01:14:34 pm
269715,68224,042,HV,1,444,444,AGUAS CLARAS,CAMINADA,3150,3300,2018-01-17,NECOCLÍ,GENERAL,RODRIGO MEJÍA-ELISA VELASQUEZ,NaN,01:15:29 pm
269716,68225,043,MC,1,362,362,AGUAS CLARAS,HERNIADO,3400,3400,2018-01-17,NECOCLÍ,GENERAL,RODRIGO MEJÍA-ELISA VELASQUEZ,NaN,01:52:17 pm
269717,68226,044,MC,1,344,344,AGUAS CLARAS,NaN,3800,3950,2018-01-17,NECOCLÍ,GENERAL,RODRIGO MEJÍA-ELISA VELASQUEZ,NaN,01:55:40 pm
269718,68227,045,ML,5,1288,258,AGUAS CLARAS,NaN,4300,4300,2018-01-17,NECOCLÍ,GENERAL,RODRIGO MEJÍA-ELISA VELASQUEZ,NaN,01:56:45 pm